.card-product{
    width:100%;
    height:300px;

    background-color:white;
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding-left:10px;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra negra difusa hacia abajo */
    border-radius:10px;

}
.productos{
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color:white;
}
.card-product-header{
    display:block;
    margin-top:10px;
    width:100%;
    height:110px;
    object-fit: contain;
}
.products-container{
    display:grid;
    width:100%;
    grid-template-columns:repeat(auto-fit,minmax(140px,1fr));
    gap:20px;
}

.title-page{
    text-align:start;
    padding-top:5px;
    margin-top:0;
}
.card-product-body{
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    min-height:110px;
    margin-bottom:8px;

}
.card-product-body h4,h5,p{
    margin:2px;
}
.card-product-footer{
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}