.page{
    width:100%;
    margin-top:60px;
    min-height: calc(100vh - 60px);
}
.header-page-container{
    width:90%;
    margin:5px 0;
}
td{
    margin:0;
    padding:5px 10px;
}
.perfil-form{
    background-color: ghostwhite;
    max-width:95%;
    border-radius: 10px;
}