.sign-in{
    background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
    margin:0;
    height:100%;
    width:100%;
}
.auth-form{
    border: 1px solid grey;
    border-radius:15px;
    padding:30px;
    background-color:whitesmoke;
}
.recovery-password-link{
    cursor:pointer;
    color:blue;

}
.recovery-password-link:hover{
    color:aqua;
}
