.sign-in{
    background-image: url("../assets/fondo.png");
    background-size: cover; /* Asegura que la imagen cubra todo el div */
    background-position: center; /* Centra la imagen en el div */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    margin:0;
    min-height:100vh;
    width:100%;
}
.sign-up{
    background-image: url("../assets/fondo.png");
    background-size: cover; /* Asegura que la imagen cubra todo el div */
    background-position: center; /* Centra la imagen en el div */
    background-repeat: no-repeat; /* Evita que la imagen se repita */    margin:0;
    min-height:100vh;
    width:100%;
}
.auth-form{
    border: 1px solid grey;
    border-radius:15px;
    padding:30px;
    background-color:whitesmoke;
}
.recovery-password-link{
    cursor:pointer;
    color:blue;

}
.recovery-password-link:hover{
    color:aqua;
}
.create-account-link{
    cursor:pointer;
}
.create-account-link:hover{
    color:darkgrey;
}
.dialog-spinner{
    background-color:White;
    border-radius:10px;
}